

.pokemon_card {
    padding-top: 5px;
    color: white;
    float: left;
    background-color: #686868;
    border-radius: 15px;
    margin: 10px 10px;
    width: auto;
}

img {
    max-width: 80%;
    height: auto;
}