
.pokemon_card {
    color: white;
    float: left;
    background-color: #686868;
    border-radius: 5px;
    margin: 10px 10px;
    padding: 100;
    display : -moz-deck;
}

body{
    background-color:#273746;
    margin-left:25vh;
    margin-right:25vh;
}